<!DOCTYPE html>
<html>
  <head>
    <title>BalletApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to "All Composers", composers_path %>
        <%= link_to "New Composer", new_composer_path %>
        |
        <%= link_to "All Works", works_path %>
        <%= link_to "New Work", new_work_path %>
      </nav>

      <%= yield %>
    </div>

  </body>
</html>
