
<div><img class="img" src="<%= @info_thumbnail %>" alt="Book cover">
<p>Average rating by our customers is: <%=@info_ratings%>/5
</p>
</div>

<p>"<%= @title %> was written by <%=@info_author%>"</p>
<p>"About the book:
  <br><%= @info_summary %>"</p>
