<!DOCTYPE html>
<html>
  <head>
    <title>Monopoly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <nav>
        <%= link_to 'Portfolio', properties_path %>
        <%= link_to 'Buy Property', buy_property_path %>
      </nav>

      <%= yield %>

    </div>

  </body>
</html>
