<h2><%= @cat.name%></h2>   

<%= image_tag @cat.image, :class => 'feature' if @cat.image.present? %>

<ul>
    <li>Name: <%= @cat.name %></li>
    <li>Age: <%= @cat.age %></li>
</ul>

<div class="controls">
<%= link_to 'Edit Cat', edit_cat_path(@cat.id) %>
<%= button_to 'Delete Cat', cat_path(@cat.id), :method => 'delete' %>
</div>