<!DOCTYPE html>
<html>
  <head>
    <title>Broadway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'All Theatres', theatres_path %>
        <%= link_to 'New Theatre', new_theatre_path %>
        |
        <%= link_to 'All Productions', productions_path %>
        <%= link_to 'New Production', new_production_path %>
      </nav>


      <%= yield %>
    </div>
  </body>
</html>
