<h1><%= @place.name %></h1>
<%= image_tag @place.image, :class =>'feature' if @place.image.present? %>
<ul>
  <li>Name: <%= @place.name %></li>
  <% if @place.country.present? %>
  <li>Country: <%= link_to @place.country.name, @place.country %></li>
  <% end %>
  <li>Region: <%= @place.region %></li>
  <li>Feature: <%= @place.feature %></li>
  <li>Period: <%= @place.period %></li>
  <li>Altitude(m): <%= @place.altitude_in_m %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit Place', edit_place_path(@place) %>
  <%= button_to 'Delete Place', @place, :method => 'delete' %>
</div>
