<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/eightball">Magic 8 Ball</a>
      <a href="/secret">Secret Number</a>
      <a href="/spr">Scissor Paper Rock</a>
    </nav>
    <%= yield %>
  </body>
</html>
