<h2><%= @production.title %></h2>


<%= image_tag @production.image, :class => 'feature' %>
<ul>
  <li>Director: <%= @production.director %></li>
  <li>Opening: <%= @production.opening%></li>
  <li>Closing: <%= @production.closing%></li>
  <li>Awards: <%= @production.awards%></li>
  <li>Theatre: <%= link_to @production.theatre.name, @production.theatre %></li>
</ul>



<div class="controls">
  <%= link_to 'Edit Production', edit_production_path(@production)  %>
  <%= link_to 'Delete Production', @production, :method => 'delete' %>
</div>
