<h1><%= @book.title%></h1>
<%= image_tag @book.image, :class => 'feature', :alt => @book.title%>

<ul>
    <li>Title: <%= @book.title%></li>
    <% if @book.author.present? %>
        <li>Author: <%= link_to @book.author.name, @book.author %>
    <% end %>
    <li>Year: <%= @book.year%></li>

</ul>



<div class="controls">
    <%= link_to 'Edit book', edit_book_path(@book) %>
    <%= link_to 'Delete book', @book, :method => 'delete' %>
</div>