<h1>Book Info</h1>

<img src=<%= @thumbnail_url %> alt="cover image">

<p>
  <a href=<%= @book_link %>><%= @title %></a>
  By <%= @authors %>
</p>

<p>
  Description:
  <%= @description %>
</p>

<p>
  Review:
  <%= @book_review %>
</p>
