<h1><%= @author.name %></h1>

<%= image_tag @author.image, :class => 'feature' if @author.image.present? %>
<ul>
    <li>Name: <%= @author.name %></li>
    <li>Nationality: <%= @author.nationality %></li>
    <li>Date of Birth: <%= @author.dob.strftime '%A, %B %e, %Y' if @author.dob.present? %></li>
</ul>

<% @author.books.each do |book| %>
    <%= link_to image_tag(book.image, :class => 'thumb'), book %>
<% end %>

<div class="controls">
<%= link_to 'Edit author', edit_author_path(@author)%>
<%= link_to 'Delete Author', @author, :method => 'delete' %>
</div>