<h3><%=@book_title%> </h3>

<img src="<%=@book_url%>" alt="cover of <%=@book_title%>">

<p><%=@book_description%> </p>
<p><a href="https://www.dymocks.com.au/books/?term=<%=@book_title%>" target="_blank">Shop for <%=@book_title%> now!</a></p>
